In [1]:
import pandas as pd

In [2]:
bond=pd.read_csv("jamesbond.csv")

In [3]:
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [7]:
bond.set_index(keys="Film", inplace=True)

In [8]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [9]:
bond.reset_index()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [10]:
bond.set_index("Year")

,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,
1962,Sean Connery,Terence Young,448.8,7.0,0.6
1963,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Sean Connery,Terence Young,848.1,41.9,4.7
1967,David Niven,Ken Hughes,315.0,85.0,NaN
1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,Roger Moore,John Glen,449.4,60.2,NaN
1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,Roger Moore,John Glen,373.8,53.9,7.8
1985,Roger Moore,John Glen,275.2,54.5,9.1
1987,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [11]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [13]:
bond.reset_index(inplace=True)

In [14]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [8]:
bond.set_index("Film",inplace=True)

In [20]:
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [21]:
bond.loc["Thunderball"] #Using the loc keyword

Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object

In [47]:
bond.loc["Skyfall":"Thunderball"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [23]:
bond.loc["Spectre":]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [24]:
bond.loc[:"Thunderball"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [26]:
bond.loc[["Spectre","Tomorrow Never Dies","Thunderball"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [27]:
"Thunderball" in bond.index

True

In [28]:
bond.reset_index(inplace=True)

In [29]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
1,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
3,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
4,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [33]:
bond.iloc[1]
bond.iloc[1:45]
bond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [38]:
bond.iloc[:100]
bond.iloc[[2,4,6,7]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
2,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
4,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
6,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
7,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [46]:
bond.set_index("Film",inplace=True)
bond.head()

KeyError: "None of ['Film'] are in the columns"

In [41]:
bond.loc["Casino Royale","Director"] #accessing row value and column values

Film
Casino Royale    Martin Campbell
Casino Royale         Ken Hughes
Name: Director, dtype: object

In [42]:
bond.loc["Moonraker",["Director","Budget"]]

Director    Lewis Gilbert
Budget               91.5
Name: Moonraker, dtype: object

In [53]:
bond.head()
bond.set_index("Film",inplace=True)

In [56]:
bond.sort_index(inplace=True)

In [58]:
bond.loc["Moonraker":"Thunderball",:"Budget"]

,Year,Actor,Director,Box Office,Budget
Film,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9

In [59]:
bond.iloc[15,2] #accessing row and column values through iloc

'Peter R. Hunt'

In [60]:
bond.iloc[12,2:5]

Director      Lewis Gilbert
Box Office              535
Budget                 91.5
Name: Moonraker, dtype: object

In [62]:
bond.iloc[2:17,4]

Film
Casino Royale                       85.0
Diamonds Are Forever                34.7
Die Another Day                    154.2
Dr. No                               7.0
For Your Eyes Only                  60.2
From Russia with Love               12.6
GoldenEye                           76.9
Goldfinger                          18.6
Licence to Kill                     56.7
Live and Let Die                    30.8
Moonraker                           91.5
Never Say Never Again               86.0
Octopussy                           53.9
On Her Majesty's Secret Service     37.3
Quantum of Solace                  181.4
Name: Budget, dtype: float64

In [63]:
bond.iloc[[2,14],3]

Film
Casino Royale    315.0
Octopussy        373.8
Name: Box Office, dtype: float64

In [64]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [66]:
bond.loc["Dr. No","Actor"] = "Parth"  #to overwrite the values for a specific cell

In [67]:
bond.loc["Dr. No","Actor"]

'Parth'

In [74]:
bond.loc["Dr. No",["Box Office","Budget","Bond Actor Salary"]]=[448000000,7000000,1600000]

In [76]:
bond.loc["Dr. No","Budget"]

7000000.0

In [17]:
actor_is_Sean_Connery=bond["Actor"] == "Sean Connery"

In [19]:
bond.loc[actor_is_Sean_Connery,"Actor"]="Sir Sean Connery"

In [20]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [5]:
bond.rename(mapper={"Year":"Release Date", "Box Office":"Revenue"},axis=1) #renaming the columns value

,Film,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [11]:
bond.set_index("Film",inplace=True)

In [13]:
bond.rename(mapper={"Spectre":"Parth Spectre"}) #renaming the index value

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Parth Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [15]:
bond.drop("Spectre") #dropping the index label

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [17]:
bond.drop(["Budget","Actor"],axis=1) #dropping the multiple  column

,Year,Director,Box Office,Bond Actor Salary
Film,,,,
Dr. No,1962,Terence Young,448.8,0.6
From Russia with Love,1963,Terence Young,543.8,1.6
Goldfinger,1964,Guy Hamilton,820.4,3.2
Thunderball,1965,Terence Young,848.1,4.7
Casino Royale,1967,Ken Hughes,315.0,NaN
You Only Live Twice,1967,Lewis Gilbert,514.2,4.4
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,0.6
Diamonds Are Forever,1971,Guy Hamilton,442.5,5.8
Live and Let Die,1973,Guy Hamilton,460.3,NaN
The Man with the Golden Gun,1974,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,NaN
Moonraker,1979,Lewis Gilbert,535.0,NaN
For Your Eyes Only,1981,John Glen,449.4,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,NaN
Octopussy,1983,John Glen,373.8,7.8
A View to a Kill,1985,John Glen,275.2,9.1
The Living Daylights,1987,John Glen,313.5,5.2
Licence to Kill,1989,John Glen,250.9,7.9
GoldenEye,1995,Martin Campbell,518.5,5.1
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,10.0
The World Is Not Enough,1999,Michael Apted,439.5,13.5
Die Another Day,2002,Lee Tamahori,465.4,17.9
Casino Royale,2006,Martin Campbell,581.5,3.3
Quantum of Solace,2008,Marc Forster,514.2,8.1
Skyfall,2012,Sam Mendes,943.5,14.5
Spectre,2015,Sam Mendes,726.7,NaN

In [18]:
actor=bond.pop("Actor") #in pop method we dont have to specify the axis

In [20]:
bond.head(1)

        Year       Director  Box Office  Budget  Bond Actor Salary
Film
Dr. No  1962  Terence Young       448.8     7.0                0.6

In [21]:
actor

Film
Dr. No                               Sean Connery
From Russia with Love                Sean Connery
Goldfinger                           Sean Connery
Thunderball                          Sean Connery
Casino Royale                         David Niven
You Only Live Twice                  Sean Connery
On Her Majesty's Secret Service    George Lazenby
Diamonds Are Forever                 Sean Connery
Live and Let Die                      Roger Moore
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
Moonraker                             Roger Moore
For Your Eyes Only                    Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
A View to a Kill                      Roger Moore
The Living Daylights               Timothy Dalton
Licence to Kill                    Timothy Dalton
GoldenEye                          Pierce Brosnan
Tomorrow Never Dies                Pierce Brosnan
The World Is Not Enough            Pierce Brosnan
Die Another Day                    Pierce Brosnan
Casino Royale                        Daniel Craig
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
Name: Actor, dtype: object

In [22]:
del bond["Director"] #inbuild pyhton method to delete a series

In [23]:
bond

                                 Year  Box Office  Budget  Bond Actor Salary
Film
Dr. No                           1962       448.8     7.0                0.6
From Russia with Love            1963       543.8    12.6                1.6
Goldfinger                       1964       820.4    18.6                3.2
Thunderball                      1965       848.1    41.9                4.7
Casino Royale                    1967       315.0    85.0                NaN
You Only Live Twice              1967       514.2    59.9                4.4
On Her Majesty's Secret Service  1969       291.5    37.3                0.6
Diamonds Are Forever             1971       442.5    34.7                5.8
Live and Let Die                 1973       460.3    30.8                NaN
The Man with the Golden Gun      1974       334.0    27.7                NaN
The Spy Who Loved Me             1977       533.0    45.1                NaN
Moonraker                        1979       535.0    91.5                NaN
For Your Eyes Only               1981       449.4    60.2                NaN
Never Say Never Again            1983       380.0    86.0                NaN
Octopussy                        1983       373.8    53.9                7.8
A View to a Kill                 1985       275.2    54.5                9.1
The Living Daylights             1987       313.5    68.8                5.2
Licence to Kill                  1989       250.9    56.7                7.9
GoldenEye                        1995       518.5    76.9                5.1
Tomorrow Never Dies              1997       463.2   133.9               10.0
The World Is Not Enough          1999       439.5   158.3               13.5
Die Another Day                  2002       465.4   154.2               17.9
Casino Royale                    2006       581.5   145.3                3.3
Quantum of Solace                2008       514.2   181.4                8.1
Skyfall                          2012       943.5   170.2               14.5
Spectre                          2015       726.7   206.3                NaN

# Sample Method

In [48]:
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [27]:
bond.sample(n=4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [29]:
bond.sample(frac=.5,axis=1)

                                 Year  Box Office  Budget
Film
A View to a Kill                 1985       275.2    54.5
Casino Royale                    2006       581.5   145.3
Casino Royale                    1967       315.0    85.0
Diamonds Are Forever             1971       442.5    34.7
Die Another Day                  2002       465.4   154.2
Dr. No                           1962       448.8     7.0
For Your Eyes Only               1981       449.4    60.2
From Russia with Love            1963       543.8    12.6
GoldenEye                        1995       518.5    76.9
Goldfinger                       1964       820.4    18.6
Licence to Kill                  1989       250.9    56.7
Live and Let Die                 1973       460.3    30.8
Moonraker                        1979       535.0    91.5
Never Say Never Again            1983       380.0    86.0
Octopussy                        1983       373.8    53.9
On Her Majesty's Secret Service  1969       291.5    37.3
Quantum of Solace                2008       514.2   181.4
Skyfall                          2012       943.5   170.2
Spectre                          2015       726.7   206.3
The Living Daylights             1987       313.5    68.8
The Man with the Golden Gun      1974       334.0    27.7
The Spy Who Loved Me             1977       533.0    45.1
The World Is Not Enough          1999       439.5   158.3
Thunderball                      1965       848.1    41.9
Tomorrow Never Dies              1997       463.2   133.9
You Only Live Twice              1967       514.2    59.9

# nlargest and nsmallest method

In [34]:
bond.nlargest(3,columns="Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [35]:
bond.nsmallest(2,columns="Budget")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [37]:
bond["Budget"].nlargest(2)
bond["Budget"].nsmallest(2)

Film
Dr. No                    7.0
From Russia with Love    12.6
Name: Budget, dtype: float64

# Filter with "where" method

In [39]:
mask1 = bond["Actor"]=="Sean Connery"

In [41]:
bond.where(mask1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# query method

In [42]:
bond.columns=[column_name.replace(" ","_") for column_name in bond.columns] #to use query method there should be no space in the column names

In [43]:
bond.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [44]:
bond.query("Box_Office > 800")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [46]:
bond.query("Actor == 'Roger Moore' and Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

# Apply Method

In [53]:
def convert_tostring_and_add_millions(number):
    return str(number) + "MILLIONS"

In [49]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [57]:
column=["Box Office","Budget","Bond Actor Salary"]
for col in column:
    bond[col]=bond[col].apply(convert_tostring_and_add_millions)

In [58]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2MILLIONSMILLIONS,54.5MILLIONSMILLIONS,9.1MILLIONSMILLIONS
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5MILLIONSMILLIONS,145.3MILLIONSMILLIONS,3.3MILLIONSMILLIONS
Casino Royale,1967,David Niven,Ken Hughes,315.0MILLIONSMILLIONS,85.0MILLIONSMILLIONS,nanMILLIONSMILLIONS

In [67]:
def goodmovies(row):
    
    actor=row[1]
    budget=row[4]
    
    if actor == "Daniel Craig":
        return "The Best Movie"
    elif actor=="Roger Moore":
        return "Enjoyable movie"
    else:
        return "No clue"
    
bond.apply(goodmovies,axis=1)

Film
A View to a Kill                   Enjoyable movie
Casino Royale                       The Best Movie
Casino Royale                              No clue
Diamonds Are Forever                       No clue
Die Another Day                            No clue
Dr. No                                     No clue
For Your Eyes Only                 Enjoyable movie
From Russia with Love                      No clue
GoldenEye                                  No clue
Goldfinger                                 No clue
Licence to Kill                            No clue
Live and Let Die                   Enjoyable movie
Moonraker                          Enjoyable movie
Never Say Never Again                      No clue
Octopussy                          Enjoyable movie
On Her Majesty's Secret Service            No clue
Quantum of Solace                   The Best Movie
Skyfall                             The Best Movie
Spectre                             The Best Movie
The Living Daylights                       No clue
The Man with the Golden Gun        Enjoyable movie
The Spy Who Loved Me               Enjoyable movie
The World Is Not Enough                    No clue
Thunderball                                No clue
Tomorrow Never Dies                        No clue
You Only Live Twice                        No clue
dtype: object

# Copy Method

In [88]:
directors=bond["Director"].copy()

In [89]:
directors.head(3)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Casino Royale            Ken Hughes
Name: Director, dtype: object

In [90]:
directors["A View to a Kill"] = "Mister John Glen"

In [91]:
directors.head(2)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Name: Director, dtype: object

In [92]:
bond.head(2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2MILLIONSMILLIONS,54.5MILLIONSMILLIONS,9.1MILLIONSMILLIONS
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5MILLIONSMILLIONS,145.3MILLIONSMILLIONS,3.3MILLIONSMILLIONS